**/__pycache__/
**/wandb/
**err
**log

# data
data/pdsearch-corpus/
data/expanded_corpus/
data/simplified_corpus/
data/title_corpus/
data/full_corpus/
data/splade_corpus/
data/trec-pds.train.product2query.jsonl
data/trec-pds.train.t2t.product2query.jsonl
data/trec-pds.train.m2t.product2query.jsonl
data/images

# index files
indexing/

# models
models/

# model predictions
results/

# IR results
runs/

# other testing
test.sh
prep_t2t.sh
prep_m2t.sh
